.project-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  align-items: center;
  color: #ffffff;
  min-height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
  padding: 10px;
  animation: opa 1.3s ease-in forwards;
}

@keyframes opa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.project-text {
  animation: ud 1s ease-out;
}

@keyframes ud {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.para-container {
  width: 70%;
  text-align: center;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  list-style-type: none;
}
.projects-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 575px) {
  .projects-container {
    justify-content: center;
  }
  .project-text {
    animation: ud1 1s ease-out;
  }

  @keyframes ud1 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .para-container {
    width: 90%;
    text-align: left;
    /* font-size: large; */
  }
}
