.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-left: 95px;
  padding-right: 95px;
  background-color: rgb(65, 82, 113);
  color: #fff;
  /* height: 60px; */
  width: 100%;
}

.logo-and-title-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  margin-right: 8px;
  border: 2px solid transparent;
}

.title {
  color: #12022f;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
}

.nav-items-list {
  display: flex;
  width: 50%;
  justify-content: space-between;
  padding-left: 0px;
  gap: 20px;
}
@media (576px < width <900px) {
  .header-container {
    padding-left: 40px;
  }
  .nav-items-list {
    width: 75%;
  }
}

.link-item {
  /* padding: 4px; */
  /* padding-left: 12px;
  padding-right: 8px; */
  list-style-type: none;
  font-size: large;
  letter-spacing: 1px;
  opacity: 0.8;
}
@media (max-width: 575px) {
  .header-container {
    padding: 5px;
  }
  .logo-and-title-container {
    display: none;
  }

  .link-item {
    font-size: medium;
  }
  .nav-items-list {
    width: 100vw;
    justify-content: space-around;
  }
}

.route-link {
  color: #fff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 0px;
}

.active-link {
  color: #83e0c1;
  color: #fff;
  display: flex;
  flex-direction: column;
  opacity: 1;
  /* text-shadow: 0 0 2px #ffffffaa; */
}
.active-link::after {
  content: '';
  margin-top: 4px;
  padding: 1px;
  /* background-color: #38aa9c; */
  background-color: #fff;
  /* box-shadow: 0 0 1px #ffffffaa; */
}

@media (max-width: 575px) {
  .route-link {
    margin-left: 4px;
  }

  .active-link::after {
    /* display: none; */
  }
}
